<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SwIndia Tours – Taxi Services and Tour Bookings</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29354477-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-29354477-2', { 'optimize_id': 'GTM-NVK5K9R'});
  </script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34038602-2"></script>
  <!-- Google AdSense wurde hier hinzugefügt-->
  <script data-ad-client="ca-pub-1468017671046742" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34038602-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-34038602-2');
  </script>

</head>
<body>
<div id="topbar"><img src="img/logo.png" class="img_logo" alt="SwIndiaTours" width="300"/></div>
<header>
  <a href="index.php" class="logo">Taxi Services & <br> Tour Bookings</a>
  <nav id="topnav">
    <ul>
      <li><a href="airportpickup_drop.php">Airport pickup & drop</a></li>
      <li><a href="delhi.php">Delhi</a></li>
      <li><a href="punjab.php">Punjab</a></li>
      <li><a href="rajasthan.php">Rajasthan</a></li>
      <li><a href="uttarpradesh.php">Uttarpradesh</a></li>
      <li><a href="mix.php">Mix Tours</a></li>
      <li><a href="uttrakhand.php">Uttarkhand.</a></li>
      <li><a href="kashmir.php">Kashmir</a></li>
      <li><a href="himalayas.php">Himalayas</a></li>
      <li><a href="madhyapradesh.php">Madhyapradesh</a></li>
      <li><a href="goa.php">Goa</a></li>
      <li><a href="outsideIndia.php">Outside India</a></li>
      <li><a href="javascript:void(0);" class="icon" onclick="menuOnAndOff()">
        <i class="fa fa-bars"></i>
      </a></li>
    </ul>
  </nav>
</header>
<main>
  <h1>Who we are?</h1>
  <div id="about">
    <ul>
      <li><h3>Hello, Namaste everybody</h3>
      <li></li>
      <li><img src="img/Bharat_Gihara.png" alt="Me Bharat Gihara" width="300"/></li>
      <li>My name is <b>Bharat Gihara:</b> I am 43 years old and I am Indian living in New Delhi India.</li>
      <li> Since over 20 years I am working in the sector of tourism and in my heart, it was always a dream to
        open my own tourist company.
        Before my start into the travel business I was a schoolteacher where I taught kindergarten children and
        I was a tutor for children in the 8th grade of Indian music.
      <li/>
      <li></li>
      <li>In late 1996, I took my very first step, as I got a call from my uncle, who would turn out to be my
        first boss in the travel industry.
        He had a small travel agency in Delhi, India and after a brief conversation, my passion towards that
        industry was set.
        Everything fell into place and I joined his team in January 1997. It’s amazing to sit back and look at
        over 20 years in the travel industry, where I’ve held many positions (each more challenging than the
        previous) and I still get up in the morning and want to go to work!
      </li>
      <li></li>
      <li>In 2009 I got married and moved to Switzerland, where I was working as a nurse for several years.
        Since 2017 I am back in New Delhi and setting back on the on the travel business. So, during my stay in
        Switzerland, I learnt a lot about the standard and the western mindset. The quality and of course I
        gained new languages.
      </li>
      <li>2019 the time came when my own company SwIndia Tours come into the air. Thank you very much everyone
        whoever supported me to reach at my place.
      </li>
      <li></li>
      <li>I hope to welcome you soon with me on a tour and I will show you India on a bright side you never seen.
        The truth of India and within its beauty.
      </li>
      <li></li>
      <li>So now get ready to book a tour with me, I am more than glad to welcome you soon in India New Delhi.
      </li>
      <li></li>
      <li>Once again thank you very much</li>
      <li></li>
      <li>Bharat Gihara</li>
    </ul>
  </div>
</main>
<footer>
  <div id="opening-hours">
    <h3>Booking</h3>
    <p>24/24</p>
    <p>365/365</p>
    <p>we respond to your booking in 24 hours</p>
  </div>
  <div>
    <ul>
      <li><a href="about.php">About SwIndia Tours</a></li>
      <li><a href="feedback.php">Give us feedback & check customers feedback</a></li>
      <li><a href="contact.php">Contact us</a></li>
    </ul>
  </div>
  <div id="quote">
    <blockquote>
      An experience I will never forget, so lovely people and let you feel that you are a part of the country. I
      got the real taste of India.
      Definitely I will come back again. SwIndia Tours took care about everything, thank you so much.
    </blockquote>
    <cite>– Hanna (Sweden)</cite>
  </div>
  <div id="address">
    <h3>Address:</h3>
    <p>SwIndia Tours</p>
    <p>9818 Street No 8, Multani Dhanda, Pahar Ganj</p>
    <p>New Delhi, 110055, India</p>
    <p><a href="mailto:info@swindiatours.com">info@swindiatours.com</a></p>
    <p>+91 98 99293313</p>
  </div>
  <div>
    Copyright Ⓒ 2019 SwIndia Tours. All Right Reserved
  </div>
</footer>
<script src="js/bookings.js"></script>
<script src="js/ajax.js"></script>
<script src="js/form_validator.js"></script>
</body>
</html>